#outerbox {
  width: 400px;
  font-family: verdana;
  overflow: auto;
}
#titlebox {
  overflow: auto;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.errors {
  color: red;
  width: 100%;
  margin-top: 10px;
}
.infobox {
  height: var(--main-height);
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  font-family: verdana;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  padding: 10px 10px;
  overflow: auto;
  margin-top: 5px;
}
.sendbox {
  overflow: auto;
  padding: 15px 15px;
  border: 1px solid #333;
  background-color: #faf9f5;
}
.tranbox {
  height: 220px;
  display: none;
  overflow: auto;
  padding: 5px 15px;
  border: 1px solid #333;
  background-color: #faf9f5;
}
.mempbox {
  height: 220px;
  display: none;
  overflow: auto;
  padding: 5px 15px;
  border: 1px solid #333;
  background-color: #faf9f5;
}
.title {
  width: 50%;
  float: left;
  font-size: 14px;
}
.notconnected {
  color: red;
  float: right;
  font-size: 12px;
}
.connected {
  color: green;
  float: right;
  font-size: 12px;
}
.mining {
  color: blue;
  float: right;
  font-size: 12px;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
.margin5 {
  margin-top: 5px;
}
.label {
  width: 50px;
  float: left;
  margin: 0px 10px;
}
.labelto{
  width: 50px;
  float: left;
  margin: 3px 10px;
}
.labelamt{
  width: 50px;
  float: left;
  margin: 3px 10px;
}
.labeltip{
  width: 50px;
  float: left;
  margin: 8px 10px;
}
.accounts {
  width: 60%;
  margin: 0px 0px;
}
.balance {
  margin: 10px 0px;
}
.tabsection {
  margin-top: 15px;
}
.tabbox {
  font-family: verdana;
  overflow: auto;
  padding: 0px 0px;
}
.tab {
  background-color: #d9d8d4;
  border: 1px solid #333;
  border-bottom: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-family: verdana;
  margin: 0px 5px;
  cursor: pointer;
}
.button {
  background-color: #faf9f5;
  border: 1px solid #333;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-family: verdana;
  margin: 0px 5px;
  cursor: pointer;
  float: right;
}
.buttonsmall {
  background-color: #faf9f5;
  border: 1px solid #333;
  color: black;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  font-family: verdana;
  margin: 0px 5px;
  cursor: pointer;
  float: right;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  border: 4px solid #333;
}
.modalcontent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 10px;
  border: 2px solid #000;
  width: 70%;
}
.modalheader {
  padding: 5px 10px;
  background-color: #5cb85c;
  color: white;
}
.modalbody {
  margin: 10px;
}
.close {
  color: #000;
  float: right;
  font-size: 12px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: rgb(116, 114, 114);
  text-decoration: none;
  cursor: pointer;
}
.confirmbutton {
  background-color: #faf9f5;
  border: 1px solid #333;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  margin: 0px 5px;
  cursor: pointer;
  float: right;
}
.yesno {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
}
.yesnomessage {
  border-top: 1px solid #333;
  margin-top: 10px;
  padding-top: 10px;
}