#outerbox {
  width: 300px;
  font-family: verdana;
  overflow: auto;
}

#titlebox {
  overflow: auto;
}

.title {
  width: 50%;
  float: left;
  font-size: 14px;
}

.notconnected {
  color: red;
  float: right;
  font-size: 12px;
}

.connected {
  color: green;
  float: right;
  font-size: 12px;
}

.framebox {
  overflow: auto;
  border: 1px solid #333;
  margin-top: 5px;
}

.label {
  width: 50px;
  float: left;
  margin: 0px 10px;
}

.accounts {
  width: 60%;
  margin: 0px 5px;
}

.dropbox {
  margin: 10px 10px;
}

.balance {
  margin: 10px 0px;
}