:root {
    --main-height: 820px;
    --outer-box-heigth: 740px;
}

#flex-container {
    display: flex;
}

#transactions {
    display: none;
    border: 2px solid black;
    background: #ffff60;
    padding: 10px;
    margin: 20px;
    width: 90vw;
    max-width: 60rem;
    height: 95vh;
    z-index: 1000;
    position: absolute;
    top: 0;
    overflow-y: scroll;
}

#transactions button {
    position: absolute;
    right: 0;
    margin: 5px;
    padding: 3px;
    background: #5dc955;
    color: red;
    border: 1px solid black;
}

#mempool {
    display: none;
    border: 2px solid black;
    background: #ffff60;
    padding: 10px;
    margin: 20px;
    width: 90vw;
    max-width: 60rem;
    height: 95vh;
    z-index: 1000;
    position: absolute;
    top: 0;
    overflow-y: scroll;
    overflow-x: scroll;
}

#mempool button {
    position: absolute;
    right: 0;
    margin: 5px;
    padding: 3px;
    background: #5dc955;
    color: red;
    border: 1px solid black;
}

.trans {
    border: 2px solid black;
    border-radius: 10px;
    background: #60c4ff;
    padding: 10px;
    margin: 5px 50px 5px 10px;
    overflow: auto;
}

.trans table, td {
    border: thin solid;
    border-collapse: collapse;
}

.trans table, td.key {
    border-right: none;
}
.trans table, td.value {
    border-left: none;
}

.block {
    border: 2px solid black;
    border-radius: 10px;
    background: #60c4ff;
    padding: 10px;
    margin: 0 10px 5px 10px;
}

.block.info {
    background: #ffff60;
}

.block.mine {
    background: #60c460;
}

.block table, td {
    border: thin solid;
    border-collapse: collapse;
}

.block table, td.key {
    border-right: none;
}
.block table, td.value {
    border-left: none;
}
