:root {
  /* Global variables */
  --main-height: 820px;
  --outer-box-heigth: 740px;
  --primary-color: #F15825;
  --secondary-color: #35495C;
  --ternary-color: #EFEFEF;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--secondary-color);
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--ternary-color);
}



#flex-container {
  display: flex;
}

#transactions {
  display: none;
  border: 2px solid black;
  background: var(--primary-color);
  padding: 10px;
  margin: 20px;
  width: 90vw;
  max-width: 60rem;
  height: 95vh;
  z-index: 1000;
  position: absolute;
  top: 0;
  overflow-y: scroll;
}

#transactions button {
  position: absolute;
  right: 0;
  margin: 5px;
  padding: 3px;
  background: var(--ternary-color);
  color: var(--secondary-color);
  border: 1px solid black;
}

[id^=blocks] {
  display: flex;
  align-items: center;
  overflow-x: scroll;
}


#mempool {
  display: none;
  border: 2px solid black;
  background: var(--primary-color);
  padding: 10px;
  margin: 20px;
  width: 90vw;
  max-width: 60rem;
  height: 95vh;
  z-index: 1000;
  position: absolute;
  top: 0;
  overflow-y: scroll;
  overflow-x: scroll;
}

#mempool button {
  position: absolute;
  right: 0;
  margin: 5px;
  padding: 3px;
  background-color: var(--ternary-color);
  color: var(--secondary-color);
  border: 1px solid black;
}

.trans {
  border: 2px solid black;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: var(--ternary-color);
  padding: 10px;
  margin: 5px 50px 5px 10px;
  overflow: auto;
}

.trans table, td {
  border: thin solid;
  border-collapse: collapse;
}

.trans table, td.key {
  border-right: none;
}
.trans table, td.value {
  border-left: none;
}

.block {
  border: 2px solid black;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: var(--ternary-color);
  padding: 10px;
  margin: 0 10px 5px 10px;
}

.block.info {
  background: var(--primary-color);
}

.block.mine {
  background-color: var(--ternary-color);
  color: var(--secondary-color);
}

.block table, td {
  border: thin solid;
  border-collapse: collapse;
}

.block table, td.key {
  border-right: none;
}
.block table, td.value {
  border-left: none;
}
