<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ardan Node Viewer</title>
		<meta content="Ardan blockchain node viewer" name="description">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/assets/styles/main.css?v1">
		<script src="/assets/scripts/main.js?v1"></script>
		<script>
			var varTest = {{.variable}};
		</script>
	</head>
	<body>
        <H1>HELLO WORLD</H1>
    </body>
</html>