<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ardan Node Viewer</title>
        <meta content="Ardan blockchain node viewer" name="description">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/assets/styles/main.css?v1">
        <script src="/assets/scripts/main.js?v1"></script>
    </head>
    <body>
        <div id="flex-container">
            <div id="msg-block1">
                <div id="first-msg1" class="block info">Node 1: Connecting...</div>
            </div>
            <div id="msg-block2">
                <div id="first-msg2" class="block info">Node 2: Connecting...</div>
            </div>
			<div id="msg-block3">
                <div id="first-msg3" class="block info">Node 3: Connecting...</div>
            </div>
        </div>
    </body>
</html>
